BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
IncludeBlocks: Preserve
SortIncludes: false
FixNamespaceComments: true
